@{
    ViewBag.Title = "SinalRChat";
}

<h2>SinalR Chat</h2>
@section scripts{
    @Scripts.Render("~/Scripts/jquery-ui-1.9.2.min.js")
    @Scripts.Render("~/Scripts/jquery.signalR-1.0.1.min.js")
    @Scripts.Render("/signalr/hubs")

    <script src="~/Scripts/jquery.cookie.js"></script>
    <script src="~/Scripts/KPChat/KPChat.js"></script>

}



<div id="container">
    <input type="hidden" id="nickname" />
    <div id="chatlog"></div>
    <div id="onlineusers">
        <b>Online Users</b>
    </div>
    <div id="chatarea">
        <div class="messagelog">
            <textarea spellcheck="true" id="message" class="messagebox"></textarea>
        </div>
        <div class="actionpane">
            <input type="button" id="btnsend" value="Send" />
        </div>
        <div class="actionpane">
            <select id="users">
                <option value="All">All</option>
            </select>
        </div>
    </div>
    <div id="dialog" title="Enter your name to start a chat.">
        <input type="text" id="nick" />
    </div>
</div>
